@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("background.jpeg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.payment-success-container {
    text-align: center;
    background: url("main.jpeg") no-repeat center center fixed;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-success-container h1 {
    color: #2ecc71;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
}

.payment-success-container p {
    color: #333;
    font-size: 1.2em;
    font-weight: 500;
}
